

@font-face {
    font-family:'Open Sans', sem serifa;
    src: url('https://fonts.googleapis.com/css2? family= Open+Sans:wght@300 & display=swap');
}
*{
    margin: 0px;
    padding: 0px;
    font-family:Open Sans, sans-serif;
}
@media (max-width:425px){
    .header-topo{
        display: block;
        width: 100%;
        height: 120px;
        padding-bottom: 20px;
        text-align: center;
    }
    header .container-nav-topo nav ul {
        justify-content: center;
    }
    header .link {
        font-size: 15px;
        padding: 0px;
    }
    main .menu-nav-especialidades{
        padding: 30px 0px;
    }
    main .menu-nav-especialidades nav ul .link{
        padding: 20px 21px;
        letter-spacing: 2px;
    }
    main img{
        display: none;
    }
    main #ortopedia{
        padding-top:0px;    
    }
    main p{
        width: 400px;
        font-size: 16px;
        margin: auto;
    }
     main #div-tabela{
        width: 355PX;
        height: 227px;
        margin: 15px auto;
        font-size: 12px;
        letter-spacing: 0px;
    }
    main #div-tabela td{
        padding: 15px 4px;
    }

}
header{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-around;
    background-color: #01cfd9;
    align-items: center;
}
header .container-nav-topo nav ul{
    display: flex;
    list-style: none;
}
header .container-nav-topo nav ul li{
    padding: 0px 25px;
}
header .container-nav-topo nav ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}
header .container-nav-topo nav ul li a:hover{
    color: #4b4a4aad;
}
main .menu-nav-especialidades nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}
main .menu-nav-especialidades  nav ul li{
    padding: 30px 25px;
    letter-spacing: 1px;
}
main .menu-nav-especialidades  nav ul li a{
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #01cfd9;
    font-size: 15px;
}
main .menu-nav-especialidades nav ul li a:hover{
    color: rgb(121, 118, 118);
    border-bottom: 2px solid #01cfd9 ;
}
main .article-h1{
    display: flex;
    justify-content: center;
    font-size: 12px;
    letter-spacing: 2px;
}
main article{
    padding-top: 3px;
}
main .container-texto-figure-tabela{
    display: flex;
    margin: 50px 0px;
    justify-content: center;
}
main figure{
    padding-top: 84px;
}
main img{
    width: 340px;
    height: 227px;
    object-fit: contain;
    padding-top: 30px;
}
main .texto-e-tabela{
    width: 582px;
    text-align: center;
    letter-spacing: 1px;
}
main h2{
    font-size: 24px;
    padding-bottom: 17px;
    font-weight: normal
}
main .texto-e-tabela .div-tabela{
    width: 660px;
    height: 227px;
    margin-top: 15px;
}
main .div-tabela table{
    width: 100%;
    height: 100%;
    text-align: justify;
    border-collapse: collapse;
}
main table thead{
    background-color: #01cfd9;
}
main tr th{
    color: #fff;
    padding: 15px 15px;
}
main table tbody tr td{
    padding: 15px 15px;
}
main table tbody tr:nth-child(odd){
    background: #c0c0c09c;
}
main .article-fisioterapia img{
    width: 356px;
    height: 293px;
    object-fit: fill;
}
footer {
    display: flex;
    background: #1a661a;
    justify-content: center;
    margin-top: 35px;
    padding-bottom:30px;
}
footer .container-roda-pe{
    display: flex;
    flex-direction: column;
    text-align: center;
}
footer .container-roda-pe figure{
    width: 100%;
    height: 70px;
}
footer .container-roda-pe p{
    width: 100%;
    font-size: 17px;
    color: #fff;
    letter-spacing: 1px;
}
footer .container-roda-pe a{
    color: #fff;
    text-decoration: none;
}
footer .container-roda-pe a:hover{
    color: #000;
    font-weight: 600;
}
